<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <script src="https://use.fontawesome.com/9f4a28178f.js"></script>
    </head>
    <body ng-app="weatherApp">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <main>
        <!--The clouds provided were empty images used these font icons from font awesome instead-->
            <i id="cloud1" class="fa fa-cloud" aria-hidden="true"></i>
            <i id="cloud2" class="fa fa-cloud" aria-hidden="true"></i>
            <div id="ngView" ng-view>
            
            </div>
        </main>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</html>
